<form method="post" action="{{ path('app_admin_tissu_delete', {'id': tissu.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tissu.id) }}">
    <button class="btn">Delete</button>
</form>
