{% extends 'base.html.twig' %}

{% block title %}Edit Employe{% endblock %}

{% block body %}
    <h1>Edit Employe</h1>

    {{ include('admin_employe/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_employe_index') }}">back to list</a>

    {{ include('admin_employe/_delete_form.html.twig') }}
{% endblock %}
